*{
    margin: 0px;
    padding: 0px;
}
#heading{
    font-family: cursive;
    position: absolute;
    top: 50px;
    left: 550px;
    text-decoration: underline orange;
    color: white;
}
body{
    background-color: black;
}
#calculator{
    width: 300px;
    height: 400px;
    background-color: rgb(32, 32, 32);
    position: absolute;
    top: 100px;
    left: 477px;
    border-radius: 10px;
}
#display{
    width: 280px;
    height: 45px;
    position: absolute;
    top: 15px;
    left: 10px;
    color: white;
    background-color: grey;
    font-family: cursive;
    font-size:x-large;
    font-weight: bold;
    text-align: end;
    border: none;
    border-radius: 5px;
}

#buttons{
    width: 250px;
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;    
    position: absolute;
    top: 85px;
    left: 28px;
}
#acbutton{
    width: 80px;
    height: 30px;
    position: absolute;
    top: 330px;
    left: 80px;
}
button{
    width: 50px;
    height: 50px;
    background-color: grey;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    font-size: large;
    font-family: cursive;
    cursor: pointer;
}
button:hover{
    background-color: rgb(62, 62, 62);
}
button:active{
    background-color: black;
}
#calculator{
    width: 300px;
    height: 400px;
    background-color: rgb(32, 32, 32);
    position: absolute;
    top: 100px;
    left: 477px;
    border-radius: 10px;
}